.App {
  font-family: sans-serif;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: antiquewhite;
}

li {
  list-style: none;
  margin-top: 5px;
}

.github-link {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-top: 15px;
  text-decoration: none;
  color: aqua;
}
